**/开发库/项目文件/源码与素材/GYMS/BLL/bin/*
**/开发库/项目文件/源码与素材/GYMS/BLL/obj/*
**/开发库/项目文件/源码与素材/GYMS/DAL/bin/*
**/开发库/项目文件/源码与素材/GYMS/DAL/obj/*
**/开发库/项目文件/源码与素材/GYMS/GYMS/.vs/*
**/开发库/项目文件/源码与素材/GYMS/GYMS/bin/*
**/开发库/项目文件/源码与素材/GYMS/GYMS/obj/*
**/开发库/项目文件/源码与素材/GYMS/MODEL/bin/*
**/开发库/项目文件/源码与素材/GYMS/MODEL/obj/*